.dashboard{
    min-height: 100vh;
    margin: -15px;
    background-color: #fff;
}
.dashboard-wrap{
    padding: 25px 15px;
}

.dashboard-row{
    margin: -15px;
}
.dashboard-row + .dashboard-row{
    margin-top: 15px;
}
.dashboard-col{
    padding: 15px;
    width: 100%;
}
.dashboard-row-reverse{
    flex-direction: row-reverse;
}
.dashboard-col .icon-box{
    margin-bottom: 30px;
}

@media ( min-width: 768px ){
    .dashboard-wrap{ padding: 35px; margin-left: 240px; }
}

@media ( min-width: 1200px ){
    .dashboard-col{ width: 63%; }
    .dashboard-col + .dashboard-col{ width: 37%; }
    .dashboard-row-reverse .dashboard-col{ width: 37%; }
    .dashboard-row-reverse .dashboard-col + .dashboard-col{ width: 63%; }
}