.userinfo-box .user-img{
    width: 134px;
    height: 134px;
    border-radius: 134px;
    overflow: hidden;
}
.userinfo-box .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userinfo-box .user-content{
    width: calc(100% - 134px);
    padding-left: 25px;
}
.userinfo-box .user-content h2{
    margin-bottom: 5px;
}
.userinfo-box .user-content p{
    font-size: 18px;
    line-height: 1.5;
}
.userinfo-box .user-mail a{
    color: #b1b1b1;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.userinfo-box .user-mail a:hover{
    color: #2d62ec;
}

@media (max-width: 575px){
    .userinfo-box .user-content{ width: 100%; padding-left: 0; padding-top: 20px; }
}